@keyframes onLoad{
    0%
    {
        background-color: white;
    }
    100%
    {
        background-color:skyblue;
    }
}

@-webkit-keyframes onLoad
{
    0%
    {
        background-color: white;
    }
    100%
    {
        background-color:skyblue;
    }
}

@-moz-keyframes onLoad
{
    0%
    {
        background-color: white;
    }
    100%
    {
        background-color:skyblue;
    }
}

.block
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

header
{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    background-color: skyblue;
    height:30%;
    border-radius: 20px;
    -webkit-animation-name: onLoad;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s ;
    -moz-animation-name: onLoad;
    animation-name: onLoad;
    animation-duration: 3s;

}

#loginSection
{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    width:70%;
    border-radius: 20px;
}

.loginScreenButton
{
    background-color:white;
    font-weight: bold;
    border-color: skyblue;
    border-radius:5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginScreenButton:active
{
    border-color:#8bff7e;
}

.loginScreenButton:hover
{
    border-color:#8bff7e; 
}

#title
{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    
}

@media (max-width:525px)
{
    #title
    {
        font-size: 30px;
    }

    .loginScreenButton
    {
        width: 50%;
    }
}

@media(max-width:400px)
{
    #title
    {
        font-size: 20px;
    }
}