@keyframes onLoad{
    0%
    {
        background-color: white;
    }
    100%
    {
        background-color:skyblue;
    }
}

@-webkit-keyframes onLoad
{
    0%
    {
        background-color: white;
    }
    100%
    {
        background-color:skyblue;
    }
}

@-moz-keyframes onLoad
{
    0%
    {
        background-color: white;
    }
    100%
    {
        background-color:skyblue;
    }
}

@keyframes aboutAppear
{
    0%
    {
        display:none;
        opacity: 0;
    }
    1%
    {
        display:block;
        opacity: 0;
    }
    100%
    {
        display:block;
        opacity:1;
    }
}

#closeSignUp
{
    color:black;
    text-decoration-line: none;
}

#closeSignUp:hover
{
    text-decoration-line: underline;
}

#aboutLink
{
    border:2px solid skyblue;
    width:20%;
    margin-left:5%;
    cursor: pointer;
    display:block;
    font-size:25px;
}

#about
{
    border:2px solid skyblue;
    width:50%;
    opacity: 0;
    float:right;
    background-color:white;
    border-radius:10px;
}

#aboutLink:hover + #about
{
    animation-name: aboutAppear;
    animation-duration: 2s;
    opacity:1;
}

.block
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

header
{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    background-color: skyblue;
    height:30%;
    border-radius: 20px;
    -webkit-animation-name: onLoad;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s ;
    -moz-animation-name: onLoad;
    animation-name: onLoad;
    animation-duration: 3s;

}

#loginSection
{
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    width:70%;
    border-radius: 20px;
}

#loginForm
{
    width:auto;
    font-size: 25px;
}

.input
{
    font-size: 25px;
}

.loginScreenButton
{
    background-color:white;
    font-weight: bold;
    border-color: skyblue;
    border-radius:5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:25px;
}

.loginScreenButton:active
{
    border-color:#8bff7e;
}

.loginScreenButton:hover
{
    border-color:#8bff7e; 
}

#title
{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    vertical-align: baseline;
}

#credits
{
    position: absolute;
    bottom:0;
    right:0;
    width:10%;
    margin:0;
}

@media (max-width:525px)
{
    #title
    {
        font-size: 30px;
    }

    .loginScreenButton
    {
        width: 50%;
    }

    #aboutLink
    {
        width:40%;
    }
}

@media(max-width:400px)
{
    #title
    {
        font-size: 30px;
    }

    header
    {
        width: 80%;
    }
}

@media(max-width:460px)
{
    #loginSection
    {
        width:80%;
    }

    .input
    {
        width: 60%;
    }
}