.entry
{
    padding: 5px;
    float:left;
    text-decoration-line: none;
    color:blue;
}

.entry:hover
{
    text-decoration-line: underline;
}

.searchForm
{
    background-color:white;
    border-radius:5px;
}

.navbar
{
    height: 30px;
    text-align: center;
    background-color:white;
    border-radius: 5px;
}

.searchButton
{
    background-color:white;
    font-weight: bold;
    border-color: skyblue;
    border-radius:5px;
}

.searchButton:active
{
    border-color:#8bff7e;
}

.searchButton:hover
{
    border-color:#8bff7e; 
}