@keyframes bubble
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

td
{
    border: 1px solid black;
    border-radius:5px;
}

.userButton
{
    background-color:white;
    font-weight: bold;
    border-color: skyblue;
    border-radius:5px;
}

.userButton:active
{
    border-color:#8bff7e;
}

.userButton:hover
{
    border-color:#8bff7e; 
}

.allResults
{
    width:100%;
    list-style-type: none;
}

.username
{
    word-wrap: break-word;
    color:white;

}

.aUser
{

    display:inline-block;
    margin:2px;
    border-radius:50%;
    background-color:skyblue;
    animation-name:bubble;
    animation-duration:2s;
    padding-left:5px;
    padding-right:5px;
}

.results
{
    width:70%;
    background-color:white;
    margin:auto;
    border-radius:15px;
    padding:5px;
}

.query
{
    color:black;
    font-size:40px;
}

