ul
{
    list-style: none;
    padding:5px;
}

#userPage
{
    background-color:white;
    width:70%;
    margin:auto;
    border-radius: 10px;
}

#username
{
    color:black;
    font-size:40px;
}

.filterButton
{
    background-color:white;
    font-weight: bold;
    border-color: skyblue;
    border-radius:5px;
}

.filterButton:active
{
    border-color:#8bff7e;
}

.filterButton:hover
{
    border-color:#8bff7e; 
}

.message
{
    border: 2px solid skyblue;
    border-radius:10px;
}

p
{
    word-wrap: break-word;
}

.inline
{
    display: inline-block;
}

.inbox
{
    text-align: center;
}

.filters
{
    width:20%;
}

.filterBox
{
    vertical-align: top;
}

.mail
{
    width: 60%;
    margin:none;
}

@media (max-width:330px)
{
    .mail
    {
        width:90%;
    }
}