ul
{
    list-style: none;
    padding:5px;
}

li
{
    border: 1px black solid;
}

p
{
    word-wrap: break-word;
}

.inline
{
    display: inline-block;
}

.inbox
{
    text-align: center;
}

.filters
{
    width:20%;
}

.filterBox
{
    vertical-align: top;
}

.mail
{
    width: 60%;
    margin:none;
}